@media (max-width: 390px) {


    #corpo-manifesto h1 {
        margin-top: -50px;
        font-size: 4rem;
    }
}

@media (max-width: 575px) {

    #corpo-manifesto h1 {
        margin-top: -50px;
        font-size: 5rem;
    }

    #corpo-manifesto h2 {
        font-size: 1.6rem;
    }


    .introNando h1 strong {
        font-size: 17rem;
    }

    .introNando h1 b {
        font-size: 5rem;
    }

    .introNando h1 span {
        font-size: 2.8rem;
    }

    .introBancada h1 b {
        font-size: 2rem;
    }

    .introBancada h1 strong{
        font-size: 7.4rem;
        max-width: 90vw;
    }

    .introBancada h1 span {
        font-size: 2.75rem;
    }

    .introBancada .noPoder {
        font-size: 3.4rem;
    }

    .introLuciana h1 strong{
        font-size: 6.5rem;
        max-width: 90vw;
    }

    .introLuciana h1 b {
        font-size: 3.3rem;
    }

    .introLuciana h1 span {
        font-size: 2.75rem;
    }

    .introLuciana .noPoder {
        font-size: 3.4rem;
    }

    .introNando h1, .introBancada h1, .introLuciana h1 {
        margin-top: 20%;
    }

    .whatsapp {
        margin-bottom: 30px;
    }

}

@media (max-width: 770px) {

    .mobile-menu {
        display: block;
    }

    #nav-list {
        position: absolute;
        top: 2vh;
        right: 0;
        width: 50vw;
        height: 100vh;
        background: var(--vermelho-bg);
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: transform .4s ease-in;
    }

    #nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    #corpo-manifesto p {
        max-width: 90vw;
    }

    #corpo-manifesto h2 {
        font-size: 2.2rem;
    }

    .container-form {
        max-width: 90vw;
        margin: 0 auto;
    }

    .cardsCandidaturas {
        justify-content: start;
    }

    .QRCode {
        gap: 20px;
      }

    .introNando h1, .introBancada h1, .introLuciana h1 {
        margin-top: 15%;
    }

    .introNando h1 strong {
        font-size: 10rem;
    }

    .introNando h1 b {
        font-size: 5rem;
    }

    .introNando h1 span {
        font-size: 2.8rem;
    }

    .introBancada h1 b {
        font-size: 1.9rem;
    }

    .introBancada h1 strong{
        font-size: 7rem;
        max-width: 90vw;
    }

    .introBancada h1 span {
        font-size: 2.6rem;
    }

    .introBancada .noPoder {
        font-size: 3.25rem;
    }

    .introLuciana h1 strong{
        font-size: 6rem;
        max-width: 90vw;
    }

    .introLuciana h1 b {
        font-size: 3rem;
    }

    .introLuciana h1 span {
        font-size: 2.5rem;
    }

    .introLuciana .noPoder {
        font-size: 3.15rem;
    }

    .introBancada, .introLuciana, .introNando {
        gap: 0px;
    }




}

@media (max-width: 1024px) {

}