/* IMPORTS */
@import url(./global.css);
@import url(./responsivo.css);

/* HEADER */

#cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: var(--vermelho-bg);
}

.logo img{
    width: 50px;
}

#menu-header {
    display: flex;
    gap: 20px;
}

#menu-header li a {
    color: var(--amarelo-fonte);
    text-transform: uppercase;
    font-size: 1.1rem;
    transition: ease-in-out .3s;
}

#menu-header li a:hover {
    color: white;
}

/* IMAGEM DE INTRODUÇÃO */

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(./assets/projeto-socialista.png);
    background-position: center 75%;
}

#intro button {
    display: flex;
    padding: 2px 15px;
    justify-content: center;
    align-items: center;
    background-color: var(--verde-whatsapp);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    margin-top: 170px;
    transition: ease-in-out .5s;
}
#intro button:hover {
    transform: scale(1.1);
}


