/* IMPORTS */
@import url(./global.css);
@import url(./responsivo.css);

/* HEADER */

#cabecalho {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: var(--vermelho-bg);
}

.logo img{
    width: 50px;
}

#menu-header {
    display: flex;
    gap: 20px;
}

#menu-header li a {
    color: var(--amarelo-fonte);
    text-transform: uppercase;
    font-size: 1.1rem;
    transition: ease-in-out .3s;
}

#menu-header li a:hover {
    color: white;
}

/* IMAGEM DE INTRODUÇÃO */

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh + 100px);
    background: url(./assets/projeto-socialista.png) center 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

#intro button {
    display: flex;
    padding: 2px 15px;
    justify-content: center;
    align-items: center;
    background-color: var(--verde-whatsapp);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    margin-top: 250px;
    transition: ease-in-out .5s;
}
#intro button:hover {
    transform: scale(1.1);
}

/* MANIFESTO */
#corpo-manifesto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

#corpo-manifesto h1 {
    font-size: 7rem;
    color: var(--vermelho-fonte);
}

#corpo-manifesto h2 {
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 1.1;
    text-align: center;
    color: black;
    padding-bottom: 30px;
}

#corpo-manifesto p {
    max-width: 900px;
    max-height: 450px;
    overflow-y: scroll;
}

    /* assinatura do manifesto */
    #assina-manifesto {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--azul-manifesto);
        height: 150px;
        gap: 15px;
        margin-top: 50px;
    }

    #assina-manifesto h2 {
        color: var(--amarelo-fonte);
        font-size: 2rem;
        text-align: end;
        letter-spacing: 2px;
    }

    .container-form {
        width: 600px;
    }

    .assinar-form {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .assinar-form input {
        height: 35px;
        border-radius: 10px;
        border: none;
        width: 255px;
        padding-left: 10px;
    }

    .assinar-form input::placeholder {
        padding-left: 10px;
    }

    .assinar-form button {
        color: var(--vermelho-bg);
        font-weight: bold;
        font-size: 1.3rem;
        background-color: var(--amarelo-fonte);
        border: none;
        border-radius: 12px;
        padding: 10px 90px;
        cursor: pointer;
    }

/* CANDIDATURAS */
#pre-candidatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

#pre-candidatos h1 {
    font-size: 7rem;
    color: var(--vermelho-fonte);
    padding-bottom: 30px;
}

.pre-candidatos-carrossel {
    display: flex;
    gap: 20px;
}

.linha-vermelha-divisao {
    display: block;
    width: 200px;
    border: 2px solid var(--vermelho-fonte);
}

.corpo-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 10px;
    padding-top: 10px;
}

.pre-candidatos-carrossel img {
    width: 300px;
}

.pre-candidatos-carrossel h2 {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2;
}
    /* faça parte */
#faca-parte {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vermelho-bg);
    width: 100%;
    margin-top: 50px;
    padding: 30px 0;
    gap: 50px;;
}

.clique-aqui {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.clique-aqui h2 {
    font-size: 2rem;
    color: var(--amarelo-fonte);
}

.clique-aqui button {
    color: white;
    background-color: var(--verde-whatsapp);
    font-size: 1.8rem;
    border: none;
    border-radius: 10px;
    padding: 10px 120px;
}



.vamos-trilhar p {
    color: white;
    font-size: 1.6rem;
}






